<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>Njuhalo results</title>  
        <style>
            li {
                display: block;
            }
            .hidden { display: none;}
            #search {
                top: 0;
                left: 0;
                width: 100%;
                height: 30px;
                position: sticky;
                font-size: 20px;
            }
            .search-list {
                margin-top: 60px;
            }
        </style>      
    </head>
    <body>
        <form method="POST" action="/save-query">
            <input id="query" type="text" placeholder="Add new query" name="query"/>
            <input type="submit" value="Add query">
        </form>
        <form method="POST" action="/fetch-results">
            <input type="submit" value="Fetch results">
        </form>
        <h2>Queries</h2>
        <span><a href="/" >Dashboard |</a></span>
        {{range .Queries}}
            <span><a href="?offerId={{.ID}}" >{{.Name}}</a></span>
            <form method="POST" action="/delete-query">
                <input type="hidden" value="{{.ID}}" name="id"/>
                <input type="submit" value="Delete">            
            </form>
        {{end}}
        <hr>
        <input id="search" type="text" placeholder="Type to filter..." autofocus/>
        <h1>Dashboard</h1>
        <p>Total: {{ len .Offers }}</p>
        <ul class="search-list">
            {{range .Offers}}
            <li>
                <a href="{{.URL}}" target="_blank">{{.Name}}</a>
                </br>
                <a href="{{.URL}}" target="_blank"><img src="{{.Image}}"></a>
                <p><b>{{.Price}}</b>&nbsp;{{.Description}}</p> 
                <p>Lokacija: {{.Location}}</p>
                <p>Kilometraža: {{.Mileage}}km</p>
                <p>Godina: {{.Year}}</p>
                <p>{{.Published}}</p>
                <span>Analiziran: {{ ts2date .CreatedAt }}</span>
                <hr>
            </li>
            {{end}}
        </ul>
    </body>
    <script>
    var input = document.querySelector('#search');
    var items = document.querySelector('.search-list').getElementsByTagName('li');
    input.addEventListener('keyup', function(ev) {
        var text = ev.target.value
        var pat = new RegExp(text, 'i')
        for (var i=0; i < items.length; i++) {
            var item = items[i]
            if (pat.test(item.innerText)) {
                item.className = '';
                continue
            }

            item.className = 'hidden';
        }
    });
    </script>
</html>